<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UV Index Detector</title>
</head>
<body>
    <h1>Sunscreen Requirement</h1>
    <h2>The UV Index determines weather or not you should wear sunscreen today.</h2>
    <form action="/get-coordinates" method="POST">
        <label for="zipcode">Enter your zip code:</label>
        <input type="text" name="zipcode" id="zipcode" maxlength="5" required>
        <button type="submit">Do I need to wear sunscreen today?</button>
    </form>
</body>
 

</html>